<!doctype html>
<html lang="en">

<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <header class="header">
        <nav>
            <ul>
                <li>
                    <a href="{{url_for('index')}}">Home</a>
                </li>
                <li>
                    <a class="btn-primary" href="{{url_for('login')}}">Log in</a>
                </li>
                <li>
                    <a class="btn-outlined" href="{{url_for('register')}}">Register</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="hero container">
            {% block content %}{% endblock %}
        </section>
    </main>
    <footer>
    </footer>
</body>

</html>