{% extends './base.html' %}

{% block title %}Log in{% endblock %}

{% block content %}
<form class="form" action="/login" method="POST">
    <h1>Log in</h1>
    <div>
        <label for="email">Email</label>
        <input class="input-custom" type="email" name="email" placeholder="Type Your Email" autofocus required
            id="email">
    </div>

    <div>
        <label for="password">Password</label>
        <input class="input-custom" type="password" name="password" placeholder="Type Your Password" required
            id="password">
    </div>
    {% if message %}
    <small class="error">{{ message }}</small>
    {% endif %}
    <button class="btn-primary" type="submit">Log in</button>
</form>
{% endblock %}